<div class="product-window">
	<div class="window-header">
		<a class="back-button" routerLink="/proizvodi/svi-proizvodi"> <i class="fa fa-chevron-left"  ></i> NAZAD </a>
		<h2> <i class="fa fa-chevron-right"></i> BLOKOVSKA ROBA</h2>
	</div>
	<div class="product-content white-block">
		<p> <span class="bold-red"> Blokovska roba </span> se radi na NCR-u, kopirajućem materijalu. Radi se u A6, A5 ili A4 formatu.
			Štampa se obično u jednoj boji. Najčešće se rade otpremnice, paragon blokovi, radni nalozi, nalozi za uplatu i slično.
			Mogu biti lepljeni ili perforisani sa leve ili gornje strane. Priprema se uvek radi u crnoj boji bez obzira u kojoj se
			boji štampaju. Blok sadrži 100 lista. Po želji listovi mogu biti i numerisani.
		</p>
	</div>
	<div class="product-content gray-block">
		<p> <span class="bold-red"> Memorandume </span> radimo u koloru ili u jednoj boji na 80gr, 90 gr papiru ili kunsdruku 115 gr
			mat, po želji.
		</p>
	</div>
</div>


<div class="product-window">
	<div class="window-header">
		<h2> <i class="fa fa-picture-o"></i> GALERIJA </h2>
	</div>
	<div class="product-content white-block gallery blokovska-roba">
		<img src="./assets/blokovska-roba/memorandum.jpg">
		<img src="./assets/blokovska-roba/racun2.jpg">
		<img src="./assets/blokovska-roba/racun.jpg">
		<img src="./assets/blokovska-roba/blok roba ot 1.jpg">
		<img src="./assets/blokovska-roba/blok roba 2.jpg">
		<img src="./assets/blokovska-roba/uplatnica.jpg">
	</div>
</div>
