<footer>
	<img src="./assets/ip-logo-beli.png" >
	<div class="mail"><a  href="mailto:interprintkg@gmail.com?Subject=Upit%20o%20ponudi%20-%20InterPrint" target="_top">interprintkg@gmail.com</a></div>
	
	<div class="phone">
		<a href="tel:+381692120202">069 212 02 02 </a>
		<span class="separator"> | </span>
		<a href="tel:+381692120201">069 212 02 01 </a>
		<span class="separator"> | </span>
	 	<a href="http://www.facebook.com/interprintkg">
	 		<i class="fa fa-facebook-official"  ></i>
	 	</a>
	</div>
	<hr />
	<div class="copyright"> 2017 &copy; Copyright  <span class="separator"> | </span> SZR - Grafički centar InterPrint</div>

</footer>