<div class="product-window">
	<div class="window-header">
		<a class="back-button" routerLink="/proizvodi/svi-proizvodi"> <i class="fa fa-chevron-left"  ></i> NAZAD </a>
		<h2> <i class="fa fa-chevron-right"></i> OLOVKE </h2>
	</div>
	<div class="product-content white-block">
		<p>
			<span class="bold-red">Reklamne olovke </span> čine par sa reklamnim blokom, mogu biti raličitih boja i modela. Preporučujemo
			standardan tip plastične olovke uštampan srebrnom bojom ili nekom drugom sa jedne ili dve strane. Obično se sa prednje
			stavlja ime firme, a sa zadnje telefon, meil, sajt... Metalne olovke uštampavamo laserski.
		</p>
	</div>
</div>

<div class="product-window">
	<div class="window-header">
		<h2> <i class="fa fa-picture-o"></i> GALERIJA</h2>
	</div>
	<div class="product-content white-block gallery olovke">
			<img src="./assets/olovke/1_resize.jpg">
			<img src="./assets/olovke/2_resize.jpg">
			<img src="./assets/olovke/3_resize.jpg">
			<img src="./assets/olovke/4_resize.jpg">
			<img src="./assets/olovke/5_resize.jpg">
			<img src="./assets/olovke/6_resize.jpg">
	</div>
</div>
