<div class="product-window">

	<div class="window-header">
		<a class="back-button" routerLink="/proizvodi/svi-proizvodi"> <i class="fa fa-chevron-left"  ></i> NAZAD </a>
		<h2> <i class="fa fa-chevron-right"></i> VIZIT KARTE</h2>
	</div>

	<div class="product-content white-block">
		<p>Vizit karte se štampaju na materijalu <span class="bold-red">kunsdruk 350 gr</span>, sa prednje strane kolor i plastifikacija
			u sjaju, a sa zadnje strane crno belo bez plastifikacije. Sa zadnje strane moguće je staviti i kalendar za tekuću godinu.
		</p>
	</div>

	<div class="product-content gray-block">
		<p> <span class="bold-red">Dimenzije vizit karte</span> su 90 x 50 mm ili 85 x 55 mm, a priprema treba da bude 92 x 52 mm odnosno
			87 x 57 mm (po 1 mm uvećano zbog obreza), a tekst na pripremi udaljen od ivice minumum 2 mm (+1 mm za obrez).
		</p>
	</div>

	<div class="product-content white-block">
		<p><span class="bold-red">Priprema za vizit kartu</span> može biti rađena u bilo kom programu, ali na kraju (pre slanja u
			štampu) mora biti pretvorena u CMYK boje (kako bi se postigle realne boje u štampi) i konvertovana u TIF sa rezolucijom
			300 dpi (kako ne bi došlo do gubljenja korišćenih efekata, filtera, fontova i drugo). Takođe obratiti pažnju na to da
			crna, sitna slova budu urađena samo iz crne boje.
		</p>
	</div>

	<div class="product-content gray-block">
		<p>Moguće je štampati vizit karte u <span class="bold-red">koloru sa obe strane</span>, plastifikacija sjaj ili mat sa obe
			strane, ali za to je neophodan broj od najmanje 6 različitih vizit karti zbog isplativosti.
		</p>
	</div>

</div>

<div class="product-window">

	<div class="window-header">
		<h2> <i class="fa fa-picture-o"></i> GALERIJA</h2>
	</div>

	<div class="product-content white-block gallery vizit">
		<img src="./assets/vizit/1.png">
		<img src="./assets/vizit/6.png">
		<img src="./assets/vizit/2.png">
		<img src="./assets/vizit/5.png">
		<img src="./assets/vizit/3.png">
		<img src="./assets/vizit/4.png">
		<img src="./assets/vizit/7.jpg">
		<img src="./assets/vizit/8.jpg">
		<img src="./assets/vizit/9.jpg">
		<img src="./assets/vizit/10.jpg">
		<img src="./assets/vizit/11.jpg">
		<img src="./assets/vizit/12.jpg">
		<img src="./assets/vizit/13.jpg">
		<img src="./assets/vizit/14.jpg">
		<img src="./assets/vizit/15.jpg">
		<img src="./assets/vizit/16.jpg">
	</div>

</div>
