<div class="page-content">

	<div class="page-background contact">
		<h1>KONTAKT PODACI</h1>
	</div>

	<div class="row">
		<div class="col-12 col-md-4 col-lg-3 sidebar contact">
			<div class="sidebar-box">
				<div class="sidebar-header red">
					<i class="fa fa-bars"></i> KONTAKT PODACI
				</div>
				<div class="sidebar-items">
					<ul>
						<li> <a href="tel:+381692120202"> <i class="fa fa-mobile"></i> 069
								212 02 02</a> </li>
						<li> <a href="tel:+381692120201"> <i class="fa fa-mobile"></i> 069
								212 02 01</a> </li>
						<li> <a href="viber://chat?number=+381692120201"> <i class="fa fa-mobile"></i> Viber 069
								212 02 01</a> </li>
						<li> <a
								href="mailto:interprintkg@gmail.com?Subject=Upit%20o%20ponudi%20-%20InterPrint"
								target="_top"> <i class="fa fa-envelope"></i>
								interprintkg@gmail.com </a></li>
						<li> <i class="fa fa-home"></i> Kragujevac, Aleksinačka b.b. </li>
					</ul>
				</div>
			</div>
			<div class="sidebar-box">
				<div class="sidebar-header red">
					<i class="fa fa-bars"></i> POSLOVNI PODACI
				</div>
				<div class="sidebar-items">
					<ul>
						<li> <b>Štamparija INTERPRINT</b></li>
						<li> Šifra delatnosti: 22220 </li>
						<li> PIB: SR 100558426 </li>
						<li> Matični broj: 54426631 </li>
						<li> PDV obveznik: DA </li>
						<li> ProCredit bank - tekući račun: <br>220-158794-77</li>
					</ul>
				</div>
			</div>
			<div class="sidebar-box">

				<div class="sidebar-header red">
					<i class="fa fa-bars"></i> 
					APR OBRASCI
				</div>

				<div class="sidebar-items">
					<ul>

						<li class="no-hover">

							<a class="pdf"
								href="./assets/apr/apr-obrasci-2023.pdf">
								<i class="fa fa-eye"></i>
								APR 2023 - Pogledaj online
							</a>

							<br>

							<a class="pdf download"
								href="./assets/apr/apr-obrasci-2023.pdf"
								download="apr-obrasci-2023.pdf">
								<i class="fa fa-book"></i>
								APR 2023 - Preuzmi PDF
							</a>
							
						</li>

						<li class="no-hover">

							<a class="pdf"
								href="./assets/apr/apr-obrasci-2006.pdf">
								<i class="fa fa-eye"></i>
								APR 2006 - Pogledaj online
							</a>

							<br>

							<a class="pdf download"
								href="./assets/apr/apr-obrasci-2006.pdf"
								download="apr-obrasci-2006.pdf">
								<i class="fa fa-book"></i>
								APR 2006 - Preuzmi PDF
							</a>
							
						</li>

					</ul>
				</div>

			</div>
		</div>
		
		<div class="col-12 col-md-4 col-lg-3">
			<div class="map-wrapper">
				<div class="map-header">
					<h3> <i class="fa fa-bars"></i>MAPA</h3>
				</div>
					<img class="real-map" src="assets/proizvodi/mapa_2023.jpg" alt="mapa">
			</div>
		</div>

		<div class="col-12 col-md-4 col-lg-6">
			<div class="map-wrapper">
				<div class="map-header">
					<h3> <i class="fa fa-bars"></i>LOKACIJA</h3>
				</div>

				<sebm-google-map [latitude]="lat"
					[longitude]="lng"
					[zoom]="zoom"
					[disableDefaultUI]="false"
					[zoomControl]="true">
					<sebm-google-map-marker [latitude]="lat"
						[longitude]="lng"></sebm-google-map-marker>
					<sebm-google-map-circle [latitude]="lat"
						[longitude]="lng"
						[radius]="50"
						[fillColor]="'red'"
						[circleDraggable]="false"
						[editable]="false">
					</sebm-google-map-circle>
				</sebm-google-map>
			</div>

		</div>

	</div>

</div>

<app-footer></app-footer>