<div class="product-window">
  <div class="window-header">
    <a class="back-button"
       routerLink="/proizvodi/svi-proizvodi">
      <i class="fa fa-chevron-left"></i> NAZAD </a>
    <h2>
      <i class="fa fa-chevron-right"></i> FLAJERI</h2>
  </div>

  <div class="product-content white-block">
    <p>
      <span class="bold-red">Flajeri i katalozi</span> se štampaju u koloru ili
      bilo kojoj boji sa obe strane ili jednostrano, na kunsdruku koji
      može biti različite debljine od 115, 130, 150, 170, 200, 250, 300 ili 350
      gr. Kunsdruk može biti u sjaju ili u matu.
      Gramature do 170 gr mogu biti savijene (ako treba) u savijačici bez
      bigovanja a gramature preko 200 gr moraju biti
      bigovane pri savijanju. Takođe flajeri mogu biti plastificirani u sjaju
      ili u matu, jednostano, obostrano ili samo
      korice.
    </p>
  </div>

  <div class="product-content gray-block">
    <p>
      <span class="bold-red"> Dimenzije flajera </span> mogu bit formata A6 (110
      x 160 mm), A5 (160 x 220 mm), A4 (210 x 297 mm), A3 (420 x 297 mm)
      ili nestandardni po želji zavisno od iskorišćenja materijala. Štampa je
      najčešće obostrani kolor. Formati A4 i A3 mogu
      biti savijeni na jedno ili dva mesta po želji, zavisno od pripreme.
      Takođe, predvideti obrez svuda ukrug 3 do 5 mm
      zavisno od veličine, vodeći računa da tekst ili fotografije koje žele da
      se ne izgube pri obrezivanju flajera budu
      udaljene po 3 do 5 mm od ivice obreza (+ 3 do 5 mm za obrez).
    </p>
  </div>
  <div class="product-content white-block">
    <p>
      NAPOMENA 1: Pri snimanju fajlova koje šaljete u štampu, ime fajla obavezno
      pisati
      <span class="bold-red">latiničnim slovima</span> (ali ne koristiti č, ć,
      đ, š), a ne ćiriličnim slovima.
    </p>
    <br>
    <p>
      NAPOMENA 2: Kada šaljete pripremu za štampu u PDF formatu, OBAVEZNO
      napravite i jednu verziju u
      <span class="bold-red">TIF formatu</span> sa svim spojenim lejerima,
      filterima, fontovima i efektima koje ste koristili kako bismo mogli
      napraviti
      proveru, u razmeri 1:1.
    </p>
  </div>
</div>


<div class="product-window">
  <div class="window-header">
    <h2>
      <i class="fa fa-chevron-right"></i> KATALOZI</h2>
  </div>


  <div class="product-content white-block">
    <p>
      Sve ovo važi i za kataloge, s tim što on može imati više strana.
      <span class="bold-red"> Katalozi sa više strana </span> mogu biti
      klamovani do pedesetak strana ili šiveni i lepljeni ako imaju veći broj
      strana,
      što naravno zavisi od debljine kunsdruka.
    </p>
  </div>

  <div class="product-content gray-block">
    <p>
      <span class="bold-red"> Priprema </span> može biti rađena u bilo kom
      programu ali na kraju (pre slanja u štampu) mora biti pretvorena u CMYK
      (kako bi se postigle realne boje u štampi) i konvertovana u TIF sa
      rezolucijom 300 dpi (kako ne bi došlo do gubljenja
      korišćenih efekata, filtera, fontova i drugo). Takođe obratiti pažnju na
      to da crna, sitna slova (ispod 10 dpi) budu
      urađena samo iz crne boje.
    </p>
  </div>


  <div class="product-content white-block">
    <p>
      Pri slanju
      <span class="bold-red">fajlova za štampu</span>, svaku stranu slati
      posebno i označiti ime fajla, npr: 1strana.tif, 2strana.tif.....
      51strana.tif,
      52strana.tif. Ako se korice štampaju na drugačijem, najčešće debljem
      materijalu one se označavaju sa K1.tif, ,K2.tif,
      K3.tif i K4.tif, a onda stranice nastavlaju sa 1strana.tif, 2strana.tif,
      itd. Voditi računa (u zavisnosti od dorade,
      od formata kataloga) da katalog može da se klamuje, tj. da broj strana (ne
      računajući korice) bude deljiv sa 4.
    </p>
  </div>

</div>

<div class="product-window">

  <div class="window-header">
    <h2>
      <i class="fa fa-picture-o"></i> GALERIJA</h2>
  </div>

  <div class="product-content white-block gallery flajeri">
    <img src="./assets/flajeri/f1.jpg">
    <img src="./assets/flajeri/f2.jpg">
    <img src="./assets/flajeri/f3.jpg">
    <img src="./assets/flajeri/f4.jpg">
    <img src="./assets/flajeri/f5.jpg">
    <img src="./assets/flajeri/f6.jpg">
    <img src="./assets/flajeri/f7.jpg">
    <img src="./assets/flajeri/f8.jpg">
    <img src="./assets/flajeri/f10.jpg">
    <img src="./assets/flajeri/f9.jpg">
  </div>
</div>
