<div class="page-content">

	<div class="page-background mudremisli">
		<h1>MOTIVACIONE MUDROSTI</h1>
	</div>

	<div class="row">

		<div class="col-12 col-md-6 knjige">
			<div class="section-wrapper">
				<img src="./assets/mudre-misli/motivacione-mudrosti-4.png">

				<a class="pdf-read"
					href="./assets/mudre-misli/motivacione-mudrosti-4.pdf"
					target="_blank">
					<i class="fa fa-eye"></i>
					Čitajte knjigu
				</a>

				<a class="pdf-download"
					href="./assets/mudre-misli/motivacione-mudrosti
					.pdf"
					download="motivacione-mudrosti-4.pdf"
					target="_blank">
					<i class="fa fa-book"></i>
					Preuzmite PDF
				</a>

			</div>
		</div>

	</div>

	<app-footer></app-footer>
