<div class="page-content">

	<div class="page-background mudremisli">
		<h1>KNJIGE MUDRIH MISLI</h1>
	</div>
	
	<div class="row">

	   <div class="col-12  col-md-6 knjige">
	   
	     <div class="section-wrapper">
	     
	     	   <img src="./assets/mudre-misli/mudre-misli-1.jpg">	 
	     	
		     	  <a class="pdf-read" href="./assets/mudre-misli/mudre-misli-1.pdf"> 
		     	    <i class="fa fa-eye"  ></i>
		     	    Čitajte knjigu 	
		     	  </a>
		     	  <a class="pdf-download" href="./assets/mudre-misli/mudre-misli-1.pdf" download="mudre-misli-1.pdf"> 
		     	    <i class="fa fa-book"  ></i>
		     	    Preuzmite PDF	
		     	  </a>	     	
	     </div>
	     
	   </div>
	   
	   <div class="col-12  col-md-6 knjige">
	   
	     <div class="section-wrapper">
	     
	     	   <img src="./assets/mudre-misli/mudre-misli-2.jpg">	 
		     	  <a class="pdf-read" href="./assets/mudre-misli/mudre-misli-2.pdf"> 
		     	    <i class="fa fa-eye"  ></i>
		     	    Čitajte knjigu 	
		     	  </a>
		     	  <a class="pdf-download" href="./assets/mudre-misli/mudre-misli-2.pdf" download="mudre-misli-2.pdf"> 
		     	    <i class="fa fa-book"  ></i>
		     	    Preuzmite PDF	
		     	  </a>
	     	
	     </div>   
   </div>
	    
</div>

<app-footer></app-footer>