<div class="page-content">

	<div class="page-background mudremisli">
		<h1>MOTIVACIONE MUDROSTI</h1>
	</div>
	
	<div class="row">
			
		<div class="col-12 col-md-6 knjige">
			<div class="section-wrapper">
					 <img src="./assets/mudre-misli/mudre-misli-3.png">	 

					 <a 
						 class="pdf-order desktop-only"
						 href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=interprintkg@gmail.com&su=Zelim%20da%20narucim%20knjigu%20Motivacione%20mudrosti" 
						 target="_blank"> 
						 <i class="fa fa-envelope"></i>
						 Naručite knjigu 	
					 </a>  
					 <a class="pdf-read" href="./assets/mudre-misli/motivacione-mudrosti-3"> 
						 <i class="fa fa-eye"  ></i>
						 Čitajte knjigu 	
					 </a>
					 <a class="pdf-download" href="./assets/mudre-misli/motivacione-mudrosti-3" download="motivacione-mudrosti-3"> 
						 <i class="fa fa-book"  ></i>
						 Preuzmite PDF	
					 </a>

					 <a 
						 class="pdf-read mobile-only"
						 href="mailto:interprintkg@gmail.com?subject=Zelim%20da%20narucim%20knjigu%20Motivacione%20mudrosti" 
						 target="_blank"> 
						 <i class="fa fa-book"></i>
						 Naručite knjigu
					 </a>
					 <a class="pdf-read" href="./assets/mudre-misli/mudre-misli-2.pdf"> 
						 <i class="fa fa-eye"  ></i>
						 Čitajte knjigu 	
					 </a>
					 <a class="pdf-download" href="./assets/mudre-misli/mudre-misli-2.pdf" download="mudre-misli-2.pdf"> 
						 <i class="fa fa-book"  ></i>
						 Preuzmite PDF	
					 </a>
			</div>
		</div>
	     
		<div class="col-12  col-md-6 knjige">
			<div class="section-wrapper">
						<img src="./assets/mudre-misli/mudre-misli-2.jpg">	 
						<a class="pdf-read" href="./assets/mudre-misli/mudre-misli-2.pdf"> 
							<i class="fa fa-eye"  ></i>
							Čitajte knjigu 	
						</a>
						<a class="pdf-download" href="./assets/mudre-misli/mudre-misli-2.pdf" download="mudre-misli-2.pdf"> 
							<i class="fa fa-book"  ></i>
							Preuzmite PDF	
						</a>
			</div>
		</div>

		<div class="col-12  col-md-6 knjige">
			<div class="section-wrapper">
						<img src="./assets/mudre-misli/mudre-misli-1.jpg">	 
						<a class="pdf-read" href="./assets/mudre-misli/mudre-misli-1.pdf"> 
							<i class="fa fa-eye"  ></i>
							Čitajte knjigu 	
						</a>
						<a class="pdf-download" href="./assets/mudre-misli/mudre-misli-1.pdf" download="mudre-misli-1.pdf"> 
							<i class="fa fa-book"  ></i>
							Preuzmite PDF	
						</a>	     	
			</div>
			    
   </div>
	    
</div>

<app-footer></app-footer>