<div class="product-window">
	<div class="window-header">
		<a class="back-button"
			 routerLink="/proizvodi/proizvodni-program"> <i
				 class="fa fa-chevron-left"></i> NAZAD </a>
		<h2> <i class="fa fa-chevron-right"></i> REKLAMNI BLOKOVI </h2>
	</div>
	<div class="product-content white-block">
		<p>
			<span class="bold-red">Reklamni blokovi </span>mogu biti formata A6 (100 x
			150 mm), A5 (150 x 210 mm), A4 (210 x 297 mm).
			Koričenje može biti lepljenje ili spiralom (gore ili levo). Korice se
			štampaju u koloru sa spljne strane, prednja i zadnja,
			plastificirane u sjaju ili matu. Broj listova može biti ako je koričenje
			lepljenjem 50, 70, 100 (po želji), a ako je koričenje
			spiralom 65 listova. Listovi se štampaju najčešće jednostrano u jednoj
			boji. Papir za listove je ofsetni 80 gr. Priprema
			za korice se radi kao za flajere.
		</p>
	</div>

	<div class="product-content gray-block">
		<p>
			<span class="bold-red">Priprema</span> može biti rađena u bilo kom
			programu ali na kraju (pre slanja u štampu) mora biti
			pretvorena u CMYK (kako bi se postigle realne boje u štampi) i
			konvertovana u TIF sa rezolucijom 300 dpi (kako ne bi došlo
			do gubljenja korišćenih efekata, filtera, fontova i drugo). Takođe
			obratiti pažnju na to da crna, sitna slova (ispod 10
			dpi) budu urađena samo iz crne boje.
		</p>
	</div>
</div>

<div class="product-window">
	<div class="window-header">
		<h2>
			<i class="fa fa-picture-o"></i> GALERIJA
		</h2>
	</div>
	<div class="product-content white-block gallery blokce">
		<img src="./assets/blokce/b1.jpg">
		<img src="./assets/blokce/b2.jpg">
		<img src="./assets/blokce/b3.jpg">
		<img src="./assets/blokce/b4.jpg">
		<img src="./assets/blokce/b5.jpg">
	</div>
</div>
