<div class="product-window">
	<div class="window-header">
		<a class="back-button"
			 routerLink="/proizvodi/proizvodni-program"> <i
				 class="fa fa-chevron-left"></i> NAZAD </a>
		<h2> <i class="fa fa-chevron-right"></i> IZRADA SAJTOVA</h2>
	</div>


	<div class="product-content white-block">
		<p>
			Izrađujemo web sajtove <span class="bold-red">modernog dizajna</span>,
			visokog kvaliteta, dinamičnog sadržaja, potpuno
			prilagođene različitim veličinama ekrana: desktopu, tabletu i mobilnim
			telefonima.
		</p>
	</div>


	<div class="product-content gray-block">
		<p>
			Web sajt možemo izraditi potpuno <span class="bold-red">po Vašim
				zamislima</span>, ili možemo osmisliti i predložiti jedinstveni
			izgled Vašeg web sajta. Vršimo obradu fotografija i prilagođavamo ih
			formatima koji najbolje odgovaraju web stranicama.
		</p>
	</div>


	<div class="product-content white-block">
		<p>
			Kompletan proces <span class="bold-red">kupovine domena i zakupa
				hostinga</span> možemo obaviti umesto Vas.
		</p>
	</div>

	<div class="product-content gray-block">
		<p>
			Jednom napravljen sajt biće <span class="bold-red">aktivno održavan i
				ažuriran</span>, kada god Vi budete želeli da menjate
			sadržaj istog.
		</p>
	</div>
</div>
