<div class="product-window">

  <div class="window-header">
    <a class="back-button" routerLink="/proizvodi/svi-proizvodi">
      <i class="fa fa-chevron-left"></i> NAZAD </a>
    <h2>
      <i class="fa fa-chevron-right"></i> REKLAMNI KALENDARI
    </h2>
  </div>

  <div class="product-content white-block">
    <p>
      <span class="bold-red">Zidne poslovne crkvene kalendare</span> proizvodimo u više modela. Dimenzije kalendara su 290 x 420 mm (sa uštampanim
      znakom vaše firme 290 x 590 mm) sa 12 listova na 70 gr papiru ojačane hromo kartonom sa zadnje strane. Povez metalnom
      spiralom. Prostor za uštampavanje je 290 x 170 mm u koloru sa izbušenom rupicom za kačenje. Priprema se radi u dimenziji
      292 x 172 mm (po želji visina može biti i veća od 172 mm), pretvorena u CMYK boje i TIF format. Kalendare isporučujemo
      sa uštampanim
      <span class="bold-red">znakom vaše firme</span>.
    </p>
  </div>

  <div class="product-content gray-block">
    <p>
      <span class="bold-red"> Stoni poslovni crkveni kalendari </span> su dimenzija 150 x 135 mm, štampa 2/2 crvena i crna, 12 listova, štampa na
      kunsdruku 150gr sjaj. Prostor za uštampavanje 150 x 32 mm (priprema 152 x 35 mm). Štampa vašeg znaka u koloru na muflonu
      koji se lepi i sa prednje i sa zadnje strane.
    </p>
  </div>

  <div class="product-content white-block">
    <p>
      <span class="bold-red"> Jednolisne kalendare </span> štampamo u formatu B3 i B2, štampa u koloru 4/0, na kunsdruku 170gr, sa navučenom plastičnom
      lajsnom gore i dole.
    </p>
  </div>

  <div class="product-content gray-block">
    <p>
      <span class="bold-red"> Kalendar čestitke </span> štampamo na kunsdruku 350gr, kolor, 4/0, u rasklopljenom stanju 320x210mm, plastificirane
      u sjaju, bigovane i štancovane (sklopljen 100 x 210 mm)
    </p>
  </div>

  <div class="product-content white-block">
    <p>
      NAPOMENA: U ponudi imamo i  <span class="bold-red">kolorne </span>(zidne i stone) kalendare (priroda, cveće, automobili, manastiri i druge).
    </p>
  </div>

</div>

<div class="product-window">

  <div class="window-header">
    <h2>
      <i class="fa fa-picture-o"></i> GALERIJA
    </h2>
  </div>

  <div class="product-content white-block gallery kalendari">
    <img class="calendar" src="./assets/kalendari/3.jpg">
    <img class="calendar" src="./assets/kalendari/4a.jpg">
    <span>
        <img class="calendar" src="./assets/kalendari/1.jpg" >
        <img class="calendar" src="./assets/kalendari/2.jpg" >
    </span>
  </div>

</div>
