<div class="page-background products">
  <h1> ASORTIMAN PROIZVODA </h1>
</div>

<div class="products-content">
  <div class="row">
    <div class="col-12 col-lg-3 sidebar hidden">

      <div class="sidebar-box">

        <div class="sidebar-header blue"
             routerLink="/proizvodi/proizvodni-program">
          <i class="fa fa-bars"></i> PROIZVODI
        </div>

        <div class="sidebar-items ">
          <ul>
            <li routerLinkActive="menu-active"
                routerLink="vizit-karte">
              <i class="fa fa-id-card-o"> </i> Vizit karte</li>
            <li routerLinkActive="menu-active"
                routerLink="flajeri">
              <i class="fa fa-paper-plane"> </i> Flajeri i katalozi</li>
            <li routerLinkActive="menu-active"
                routerLink="knjige">
              <i class="fa fa-book"> </i> Knjige </li>
            <li routerLinkActive="menu-active"
                routerLink="kalendari">
              <i class="fa fa-calendar"> </i> Kalendari</li>
            <li routerLinkActive="menu-active"
                routerLink="rokovnici">
              <i class="fa fa-book"> </i> Rokovnici </li>
            <li routerLinkActive="menu-active"
                routerLink="olovke">
              <i class="fa fa-pencil"> </i> Olovke </li>
            <li routerLinkActive="menu-active"
                routerLink="upaljaci">
              <i class="fa fa-sun-o"> </i> Upaljači </li>
            <li routerLinkActive="menu-active"
                routerLink="reklamni-blokovi">
              <i class="fa fa-file"> </i> Reklamni blokovi </li>
            <li routerLinkActive="menu-active"
                routerLink="kese">
              <i class="fa fa-shopping-bag"> </i> Reklamne kese </li>
            <li routerLinkActive="menu-active"
                routerLink="fascikle">
              <i class="fa fa-columns"> </i> Fascikle </li>
            <li routerLinkActive="menu-active"
                routerLink="nalepnice">
              <i class="fa fa-sticky-note"> </i> Nalepnice </li>
            <li routerLinkActive="menu-active"
                routerLink="blokovska-roba">
              <i class="fa fa-th-large"> </i> Blokovska roba </li>

            <!-- <li class="prodesign">
							<a href="http://prodesignkg.rs">
								<i class="fa fa-th-large"> </i> Digitalna štampa</a>
						</li> -->
          </ul>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-9 product-wrapper">
      <router-outlet></router-outlet>
      <!-- Navigacija proizvoda -->
    </div>

  </div>
</div>

<app-footer></app-footer>
