/************************
  1. GLOBALNA PODEŠAVANJA
************************/

@font-face {
	font-family: Roboto;
	src: url("/assets/fonts/Roboto-Regular.ttf");
}

@mixin background-gradient($start-color, $end-color, $orientation) {
	background: $start-color;

	@if $orientation =="vertical" {
		background: -webkit-linear-gradient(top, $start-color, $end-color);
		background: linear-gradient(to bottom, $start-color, $end-color);
	}

	@else if $orientation =="horizontal" {
		background: -webkit-linear-gradient(left, $start-color, $end-color);
		background: linear-gradient(to right, $start-color, $end-color);
	}

	@else {
		background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
		background: radial-gradient(ellipse at center, $start-color, $end-color);
	}
}

body {
	overflow-x: hidden;
	font-family: Roboto;
	box-sizing: border-box;
}

div.page-background {
	width: calc(100vw);
	height: 100px;
	position: relative;
	text-align: center;
	user-select: none;
	cursor: default;

	h1 {
		color: white;
		font-weight: bold;
		position: absolute;
		top: 25%;
		width: 100%;

		@media screen and (max-width: 500px) {
			top: 30%;
			font-size: 28px;
			margin: 0 5%;
			max-width: 90%;
		}
	}
}

.bold-red {
	color: #ca1041;
	font-weight: bold;
}

.white-block {
	background: white;
}

.gray-block {
	background: #eeeeee;
}

.link {
	cursor: pointer;

	&:hover {
		cursor: pointer;
		box-shadow: 3px 3px 20px gray;
	}
}

*[routerLink] {
	cursor: pointer;
	transition: 0.2s;
}

a {
	text-decoration: none;
	color: inherit;

	&:focus,
	&:active {
		text-decoration: none;
	}

	&:hover {
		text-decoration: none;
		color: gray;
	}
}

/**************
	 2. NAVIGACIJA
	***************/

nav {
	background: white !important;
	min-height: 61px !important;

	@media screen and (orientation: portrait) {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	a.navbar-brand {
		/* LOGO */
		padding-right: 15px;
		font-weight: bold;

		@media screen and (orientation: portrait) {
			min-height: 50px !important;
		}

		img {
			@media screen and (max-width: 992px) {
				display: block;
				margin: 0 auto;
			}
		}
	}

	div.navbar-collapse {
		@media screen and (max-width: 992px) {
			background: #1d5a82 !important;
			margin: 0 !important;
		}

		ul.navbar-nav {
			user-select: none;

			li {
				/* STAVKE NAVIGACIJE */
				text-align: center;
				min-width: 130px;

				@media screen and (max-width: 992px) {
					border-bottom: 2px solid white !important;
				}

				&:nth-of-type(1) {
					a.active {
						color: #2c3e50;
					}
				}

				// midnight blue
				&:nth-of-type(2) {
					a.active {
						color: #2980b9;
					}
				}

				// belize hole
				&:nth-of-type(3) {
					a.active {
						color: #0f715e;
					}
				}

				// green sea
				&:nth-of-type(4) {
					a.active {
						color: #ca1041;
					}
				}

				// pomegranate
				&:nth-of-type(5) {
					a.active {
						color: #d35400;
					}
				}

				// pumpkin
				&:nth-of-type(6) {
					a.active {
						color: #8e44ad;
					}
				}

				&:last-of-type {
					@media screen and (max-width: 992px) {
						margin-left: 0px;
					}
				}

				a.nav-link {
					color: white !important;
					font-size: 18px;
					font-weight: bold;
					text-transform: uppercase;
					min-width: 150px;

					@media screen and (max-width: 992px) {
						&:hover {
							color: black;
							font-weight: bold;
						}

						&.active {
							background: #e6e6e6 !important;
							color: black !important;
						}
					}

					@media screen and (min-width: 993px) {
						margin-right: 15px;
						border-radius: 3px;

						&:hover {
							color: white;
						}

						&.active {
							color: white !important;
						}

						&.home {
							background: darken(#2980b9, 10);

							&:hover {
								background: #2980b9;
							}
						}

						&.reference {
							background: darken(#0f715e, 10);

							&:hover {
								background: #0f715e;
							}
						}

						&.contact {
							background: darken(#ca1041, 10);

							&:hover {
								background: #ca1041;
							}
						}

						&.books {
							background: darken(#c0492b, 10);

							&:hover {
								background: #c0492b;
							}
						}
					}
				}
			}
		}
	}
}

/************
	 3. SLAJDER
	************/

div.carousel-item {
	position: relative;
	background: url("/assets/slider/slider.jpg") no-repeat center center;
	background-size: cover;

	img {
		position: absolute;
		box-shadow: -1px 0px 43px 7px rgba(0, 0, 0, 1);
		margin: auto;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		max-width: 70%;
		max-height: 80%;
	}
}

div.izrada-sajtova-background {
	background: url("/assets/slider/izrada.jpg") no-repeat top right;
	background-size: contain;
	height: calc(100vh - 70px);
}

div.carousel.slide {
	max-height: calc(100vh - 62px);
	overflow: hidden;

	ol.carousel-indicators {
		right: 8%;
		top: 30px;
		left: initial;
		width: 150px;
		margin: 0 !important;

		li {
			height: 20px;
			width: 20px;
			border-radius: 10px;
			margin-left: 10px;
			background-color: rgba(210, 210, 210, 0.7);

			&:hover {
				background-color: rgba(210, 210, 210, 0.9);
			}
		}

		li.active {
			background-color: rgba(51, 102, 255, 0.5);

			&:hover {
				background-color: rgba(51, 102, 255, 0.8);
			}
		}
	}

	.carousel-control-prev,
	.carousel-control-next {
		margin: auto 20px;
		border-radius: 50%;
		background: #0080ff;
		height: 50px;
		width: 50px;
	}

	// .carousel-control-next {padding-left:7px }
	// .carousel-control-prev {padding-left:1px ;}

	div.carousel-inner {
		div.carousel-item {
			width: calc(100vw);
			height: calc(100vh - 61px);
		}

		div.carousel-caption {
			top: 30px;
			bottom: initial;
			right: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.2);

			h3 {
				margin-right: 5%;
				text-align: right;
				font-weight: bold;
				font-size: 40px;
				color: #ca1041;
				text-shadow: 1px 1px black;
			}

			p {
				font-family: calibri;
				font-size: 20px;
				font-weight: bold;
				text-shadow: 1px 1px black;
				margin: 0;
				text-shadow: 1px 1px black;
				color: white;
				text-align: right;
				margin-right: 5%;
			}
		}
	}
}

/************
	 4. SIDEBAR
	************/

div.sidebar {
	padding: 20px;
	width: 100%;

	@media screen and (max-width: 992px) {
		display: none !important;
	}

	&.contact {
		@media screen and (max-width: 992px) {
			display: block !important;
		}
	}

	div.sidebar-box {
		border: 1px solid #e6e6e6;
		margin-bottom: 20px;
		width: 100%;
		height: auto !important;
		max-height: auto !important;
		background: white;
		transition: 0.3s;

		&:hover {
			box-shadow: 6px 6px 12px #e6e6e6;
		}

		div.sidebar-header {
			background: #ff2801;
			font-weight: bold;
			color: white;
			line-height: 50px;
			padding-left: 20px;

			&.blue {
				background: #1d5a82;
			}

			&.red {
				background: #c91040;
			}

			i {
				padding-right: 10px;
			}
		}

		div.sidebar-items {
			height: auto;

			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;

				li {
					height: auto;
					padding: 10px;
					font-size: 18px;
					border-bottom: 1px solid #e6e6e6;

					a:hover {
						cursor: pointer;
					}

					.pdf {
						background: #1d5a82;
						border-radius: 4px;
						border: none;
						color: white;
						font-size: 16px;
						padding: 5px 15px;
						cursor: pointer;
						margin: 5px 10px 5px 0;
						display: inline-block;
						min-width: 190px;

						&:hover {
							background: #256e9e;
						}

						&.download {
							background: green;

							&:hover {
								background: rgb(35, 167, 35);
							}
						}
					}

					i {
						padding-right: 10px;
						width: 30px;
						text-align: center;
					}

					&:hover {
						background: #efefef;
						cursor: pointer;
					}

					&.no-hover:hover {
						background: white;
						cursor: default;
					}

					&.active {
						font-weight: bold;
						background: #e6e6e6;
						color: black !important;
					}

					&.prodesign {
						a {
							color: #d5261d !important;
							width: 100%;
							height: 100%;
							display: block;
						}

						&:hover {
							color: #b42018 !important;
						}
					}

					&.two-row {
						height: 70px;
						line-height: 35px;
					}
				}
			}
		}
	}
}

/*************
	 5. PROIZVODI
	*************/

div.page-background.products {
	@include background-gradient(#2980b9, #000000, "horizontal");
}

.menu-active {
	font-weight: bold;
	background: #e6e6e6;
	color: #1d5a82 !important;
	transition: 0.5s;

	&:focus {
		outline: 0;
	}
}

div.product-wrapper {
	background: transparent;
	padding: 20px;

	div.product-window {
		border: 1px solid #e6e6e6;
		margin-bottom: 20px;
		width: 100%;
		background: white;

		.window-header {
			position: relative;
			height: 50px;
			padding: 0 20px;
			@include background-gradient(#1d5a82, #000000, "horizontal");
			vertical-align: middle;

			i {
				padding-right: 10px;
			}

			a.button {
				width: 100px;
				@include background-gradient(#eaeaea, #ffffff, "horizontal");
				border: 1px solid lightgtray;
				border-radius: 3px;
				color: #043879;
				font-size: 15px;
				padding: 10px 2px 7px 17px;
				text-align: center;
				margin-left: 10px;
				margin-bottom: 10px;
				vertical-align: middle;
				font-weight: bold;
				text-decoration: none;

				i {
					margin: 0 10px;
				}

				&:hover {
					text-decoration: none;
					background: #eaeaea;
				}
			}

			a.back-button {
				@extend a.button;
				position: absolute;
				top: 10px;
				width: 100px;
				right: 20px;
				margin: 0;
				padding: 4px;

				i {
					padding: 0 !important;
					margin: 0 10px 0 0;
				}
			}

			h2 {
				color: white;
				font-size: 16px;
				font-weight: bold;
				line-height: 50px;
				vertical-align: middle;
			}
		}

		.product-content {
			vertical-align: middle;
			font-size: 18px;
			margin: 0;

			p {
				margin-bottom: 0;
				text-align: justify;
			}

			li {
				margin-top: 5px;
				text-align: justify;
			}

			a.more-button {
				border: 1px solid lightgtray;
				border-radius: 3px;
				color: #043879;
				font-size: 15px;
				padding: 4px 7px;
				text-align: center;
				font-weight: bold;

				i {
					margin-left: 7px;
				}

				&:hover {
					text-decoration: none;
					background: #eaeaea;
				}
			}
		}

		.product-content.calendar-wrapper {
			padding: 0;

			img.calendar {
				width: 100%;
				margin: 0;
			}
		}

		div {
			padding: 20px;
		}

		.window-header.black {
			background: #64307a;

			h2 {
				text-align: center;
			}
		}

		.window-header.purple {
			@include background-gradient(#350035, #64307a, "horizontal");

			h2 {
				text-align: center;
			}
		}
	}
}

.segment-window:hover {
	box-shadow: -6px 6px 12px #e6e6e6;
}

.product-window:hover {
	box-shadow: -6px 6px 12px #e6e6e6;
}

.gallery {
	display: block;
	text-align: center !important;
}

.gallery img {
	vertical-align: top;
	margin: 15px;
	width: 300px;
	max-width: 100%;
}

.gallery img:hover {
	box-shadow: 3px 3px 20px gray;
}

.gallery.blokce img {
	width: auto;
	height: 350px;
}

.gallery.blokovska-roba img {
	width: auto;
	height: auto;
	max-height: 350px;
	max-width: 500px;
}

.gallery.fascikle img {
	width: 400px;
}

.gallery.kese img {
	width: 100%;
	height: auto;
}

.gallery.nalepnice img {
	width: auto;
	height: 220px;
}

.gallery.rokovnici img {
	width: 100%;
	height: auto;
}

.gallery.knjige img {
	width: auto;
	height: 300px;
	max-width: 300px;
}

.gallery.olovke img {
	width: 100%;
	height: auto;
}

.gallery.upaljaci img {
	width: 100%;
	height: auto;
}

.gallery.nalepnice img {
	vertical-align: top;
}

.gallery.nalepnice img:nth-of-type(1) {
	width: 400px;
	margin: 15px;
}

.gallery.nalepnice img:nth-of-type(2) {
	width: 300px;
	margin: 15px;
}

.gallery.nalepnice img:nth-of-type(3) {
	width: 200px;
	margin: 15px;
}

.gallery.kalendari>* {
	width: 30%;
	height: auto;
	display: inline-block;

	@media screen and (max-width: 768px) {
		width: 100%;
	}
}

.gallery.kese span:first-of-type {
	float: left;
	width: 60%;

	@media screen and (max-width: 768px) {
		width: 100%;
	}
}

.gallery.kese span:last-of-type {
	float: right;
	width: 25%;
	margin-right: 10%;

	@media screen and (max-width: 768px) {
		width: 100%;
	}
}

/**************
	 6. REFERENCE
	**************/

div.page-background.references {
	@include background-gradient(#0f715e, #000000, "horizontal");
}

div.card-deck {
	div.card {
		width: 200px;
		min-width: 200px;
		min-height: 100px;
		margin: 20px;
		border: 0;

		div.logo-header {
			position: relative;
			width: 200px;
			min-width: 200px;
			min-height: 68px;
			background: #0f715e;
			border: 3px solid #0f715e;
			vertical-align: middle;
			display: table;
			text-align: center;

			h4.card-title {
				color: white;
				text-shadow: 1px 1px black;
				text-align: center;
				font-size: 18px;
				font-weight: normal;
				padding: 10px;
				display: table-cell;
				text-align: center;
				margin: auto;
				vertical-align: middle;
			}
		}

		div.logo-holder {
			position: relative;
			text-align: center;
			height: 200px;
			max-height: 200px;
			width: 200px;
			min-width: 200px;
			vertical-align: middle;
			border: 3px solid #0f715e;

			div.read-more {
				display: block !important;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin: 0;
				padding: 3px;
				width: 100%;
				height: 30px !important;
				font-size: 16px;
				font-weight: bold;
				background: #0b0b0bbf;
				color: white;
				font-weight: 500;
			}
		}
	}

	div.prodesign-card {
		background: #d5261d !important;
	}
}

.references-card.card-deck {
	display: table-row;
	margin: 20px auto;
	text-align: center;
	width: 240px;

	@media screen and (max-width: 600px) {
		display: block;
		margin: auto;
	}

	.card {
		margin: 10px;
		display: inline-block;
		vertical-align: top;

		@media screen and (max-width: 600px) {
			margin: 20px auto;
			display: block;
		}

		img.card-img-top {
			max-width: 95%;
			max-height: 95%;
		}
	}
}

.product.card-deck {
	margin: 0;
	padding: 0;

	.card {
		padding: 0;
		width: 300px;
		min-width: 300px;
		max-width: 300px;
		margin-right: 25px;

		@media screen and (max-width: 690px) {
			margin: 20px auto !important;
		}

		.logo-header {
			border: 1px solid #1d5a82 !important;
			width: 300px;
			min-width: 300px;
			height: 40px !important;
			max-height: 40px !important;
			background: #1d5a82;

			h4.card-title {
				height: 40px !important;
				max-height: 40px !important;
			}
		}

		.logo-holder {
			border: 1px solid #1d5a82 !important;
			width: 300px;
			min-width: 300px;
			height: 200px;
			background: url("/assets/interprint-kragujevac-logo.png") no-repeat center center;
			background-size: cover;
		}

		.logo-header.prodesign-card {
			border: 1px solid #d5261d !important;
		}

		.logo-holder.vizitkarte {
			background: url("/assets/proizvodi/interprint_vizit.png") no-repeat center center;
			padding: 0 10px;
			background-origin: content-box;
			background-size: contain;
		}

		.logo-holder.knjige {
			background: url("/assets/proizvodi/knjige.jpg") no-repeat center center;
			background-size: cover;
		}

		.logo-holder.kalendari {
			background: url("/assets/proizvodi/kalendari1.jpg") no-repeat center center;
			background-size: cover;
		}

		.logo-holder.flajeri {
			background: url("/assets/proizvodi/flajeri_2023.jpg") no-repeat center center;
			background-size: cover;
		}

		.logo-holder.blokovska-roba {
			background: url("/assets/proizvodi/blokovska-roba.jpg") no-repeat center center;
			background-size: cover;
		}

		.logo-holder.izrada-sajtova {
			background: url("/assets/proizvodi/izrada-sajtova.png") no-repeat center center;
			background-size: cover;
		}

		.logo-holder.nalepnice {
			background: url("/assets/proizvodi/nalepnice.jpg") no-repeat center center;
			background-size: cover;
		}

		.logo-holder.reklamni-blokovi {
			background: url("/assets/proizvodi/reklamniblokovi.jpg") no-repeat center center;
			background-size: cover;
		}

		.logo-holder.rokovnici {
			background: url("/assets/proizvodi/rokovnici.jpg") no-repeat center center;
			background-size: cover;
		}

		.logo-holder.fascikle {
			background: url("/assets/proizvodi/fascikle.jpg") no-repeat center center;
			background-size: cover;
		}

		.logo-holder.kese {
			background: url("/assets/proizvodi/kese.jpg") no-repeat center center;
			background-size: cover;
		}

		.logo-holder.olovke {
			background: url("/assets/proizvodi/olovke.jpg") no-repeat center center;
			background-size: cover;
		}

		.logo-holder.upaljaci {
			background: url("/assets/proizvodi/upaljaci.jpg") no-repeat center center;
			background-size: cover;
		}

		.logo-holder.prodesign {
			border: 1px solid #d5261d !important;
			background: #edece8;

			img {
				margin: auto;
				max-width: 90%;
				margin-top: 20%;
			}
		}
	}
}

/***********
	 7. KONTAKT
	***********/

div.page-background.contact {
	@include background-gradient(#ca1041, #000000, "horizontal");
}

div.map-wrapper {
	margin: 20px 0;
	padding-right: 20px;
	padding-left: 5px;

	@media screen and (orientation: portrait) {
		margin: 0;
		padding-right: 5px;

		.sebm-google-map-container {
			height: 300px;
		}
	}

	.map-header {
		height: 50px;
		@include background-gradient(#ca1041, #000000, "horizontal");
		font-weight: bold;
		color: white;
		line-height: 50px;
		padding-left: 20px;

		h3 {
			font-size: 16px;
			font-weight: bold;
			vertical-align: middle;
			line-height: 50px;
		}

		i {
			margin-right: 12px;
		}
	}
}

.sebm-google-map-container {
	height: 500px;
}

div.sebm-google-map-container-inner {
	border: 1px solid #e6e6e6;
}

/***************
	 8. MUDRE MISLI
	***************/

div.page-background.mudremisli {
	@include background-gradient(#c0392b, #000000, "horizontal");
}

div.knjige {
	padding: 1% 20px;
	background: white;
	text-align: left;

	div.section-wrapper {
		position: relative;
		background: #ffe0b7;
		border: 3px solid #c0392b;

		@media screen and (max-width: 1300px) {
			padding-top: 100px;
		}

		@media screen and (max-width: 768px) {
			padding-top: 0;
		}

		@media screen and (max-width: 568px) {
			padding-top: 100px;
		}

		&:hover {
			box-shadow: 3px 3px 20px gray;
		}

		img {
			height: 500px;
			padding: 20px 0;
			padding-left: 20px;
			width: 350px;
			max-width: 350px;
		}

		i {
			margin-right: 10px;
		}

		a {
			display: inline-block;
			position: absolute;
			width: 200px;
			max-width: 100%;
			background: #c0392b;
			border: 2px solid #c0392b;
			color: white;
			padding: 5px 10px;
			text-align: left;
			font-size: 16px;
			height: 40px;

			&.pdf-read {
				right: 0;
				top: 20px;
			}

			&.pdf-order {
				right: 0;
				top: 120px;
			}

			&.pdf-download {
				right: 0;
				top: 70px;
			}

			&.desktop-only {
				@media (orientation: portrait) {
					display: none;
				}
			}

			&.mobile-only {
				@media (orientation: landscape) {
					display: none;
				}
			}

			&:hover,
			&:active,
			&:focus {
				text-decoration: none;
				cursor: pointer;
				font-size: 17px;
			}
		}
	}
}

/**********
	 9. FOOTER
	**********/

footer {
	position: relative;
	margin-top: 30px;
	border-top: 5px solid #283848;
	padding: 10px;
	height: 250px;
	background: #34495e;

	img {
		display: block;
		margin: 20px auto;
		text-align: center;
		width: 200px;
	}

	div.mail {
		margin: 15px auto;
		width: 330px;
		max-width: 95%;
		text-align: center;
		padding: 10px 15px;
		color: #e2e2e2;
		background: rgba(255, 255, 255, 0.2);
		border: 1px solid white;
		border-radius: 4px;
	}

	div.phone {
		margin: 10px auto;
		max-width: 95%;
		text-align: center;
		font-size: 18px;
		color: white;

		span.separator {
			margin: 0 10px;
		}

		a {
			color: white;
			font-size: 15px;
			text-decoration: none;

			&:hover {
				color: gray;
				cursor: pointer;
			}
		}
	}

	hr {
		border-color: darkgrey;
		margin-bottom: 0;
		position: absolute;
		bottom: 40px;
		margin-left: 10%;
		margin-right: 10%;
		left: 0;
		right: 0;
	}

	div.copyright {
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		bottom: 15px;
		max-width: 95%;
		text-align: center;
		font-size: 12px;
		color: #e6e6e6;

		span.separator {
			margin: 0 10px;
			font-weight: bold;
		}
	}
}