<div class="product-window">
	<div class="window-header">
		<a class="back-button" routerLink="/proizvodi/svi-proizvodi"> <i class="fa fa-chevron-left"  ></i> NAZAD </a>
		<h2> <i class="fa fa-chevron-right"></i> ROKOVNICI</h2>
	</div>


	<div class="product-content white-block">
		<p>

			U ponudi imamo <span class="bold-red">rokovnike</span> različitih modela u veličinama B5, A5 i A4 formata.
			<br> Uštampavanje logotipa vaše firme vršimo suvim žigom (utiskivanjem) i zlatotiskom (srebrna i zlatna folija).
		</p>
	</div>
</div>

<div class="product-window">
	<div class="window-header">
		<h2>
			<i class="fa fa-picture-o"></i> GALERIJA
		</h2>
	</div>
	<div class="product-content white-block gallery rokovnici">
		<img src="./assets/rokovnici/rokovnik-novo-01.jpg">
		<img src="./assets/rokovnici/rokovnik-novo-02.jpg">
		<img src="./assets/rokovnici/rokovnik-novo-03.jpg">
	</div>
</div>