<div class="product-window">
	<div class="window-header">
		<a class="back-button" routerLink="/proizvodi/svi-proizvodi"> <i class="fa fa-chevron-left"  ></i> NAZAD </a>
		<h2> <i class="fa fa-chevron-right"></i> FASCIKLE</h2>
	</div>
	<div class="product-content white-block">
		<p> <span class="bold-red"> Reklamne fascikle </span> se izrađuju na kunsdruku 350 gr. Štampa u koloru 4/0. Plastifikacija
			sjaj ili mat. Bigovana duplim bigom. Unutra na desnoj strani dole i desno dve lepljene, štancovane klapne. Kada se radi
			o većim tiražima fascikle mogu biti štancovane, tako se postiže i štampa na klapnama po određenom modelu. Dimenzije su
			približno 225 x 315 mm ili po želji. Priprema se radi po standardima za kataloge.
		</p>
	</div>

	<div class="product-content gray-block">
		<p>
			<span class="bold-red">Priprema</span> može biti rađena u bilo kom programu ali na kraju (pre slanja u štampu) mora biti
			pretvorena u CMYK (kako bi se postigle realne boje u štampi) i konvertovana u TIF sa rezolucijom 300 dpi (kako ne bi došlo
			do gubljenja korišćenih efekata, filtera, fontova i drugo). Takođe obratiti pažnju na to da crna, sitna slova (ispod 10
			dpi) budu urađena samo iz crne boje.
		</p>
	</div>
</div>

<div class="product-window">
	<div class="window-header">
		<h2>
			<i class="fa fa-picture-o"></i> GALERIJA
		</h2>
	</div>
	<div class="product-content white-block gallery fascikle">
		<img src="./assets/fascikle/f4.jpg">
		<img src="./assets/fascikle/f1.jpg">
		<img src="./assets/fascikle/f2.jpg">
		<img src="./assets/fascikle/f3.jpg">
	</div>
</div>