<div class="product-window">
	<div class="window-header">
		<a class="back-button"
			 routerLink="/proizvodi/proizvodni-program"> <i
				 class="fa fa-chevron-left"></i>
			NAZAD </a>
		<h2> <i class="fa fa-chevron-right"></i> NALEPNICE</h2>
	</div>


	<div class="product-content white-block">
		<p>
			<span class="bold-red"> Nalepnice </span> se rade na samolepivom
			hartijenom muflonu u dimenzijama po želji naručioca,
			u koloru 4/0. Nalepnice se ricuju sa zadnje strane kako bi se lakše
			lepile. takođe mogu biti i štancovane sa prednje kako
			bi se mogao postići željeni oblik (okrugao, elipsast, nepravilan po
			želji....) Tada je neophodno prvi put uraditi i štancnu.
		</p>
	</div>
	<div class="product-content gray-block">
		<p>
			<span class="bold-red">Priprema</span> može biti rađena u bilo kom
			programu ali na kraju (pre slanja u štampu) mora biti
			pretvorena u CMYK (kako bi se postigle realne boje u štampi) i
			konvertovana u TIF sa rezolucijom 300 dpi (kako ne bi došlo
			do gubljenja korišćenih efekata, filtera, fontova i drugo). Takođe
			obratiti pažnju na to da crna, sitna slova (ispod 10
			dpi) budu urađena samo iz crne boje.
		</p>
	</div>

	<div class="product-content white-block">
		<p>
			<span class="bold-red">Barkod</span> uraditi samo iz crne boje, nikako iz
			kolora, zbog lakšeg očitavanja.
		</p>
	</div>
</div>


<div class="product-window">

	<div class="window-header">
		<h2> <i class="fa fa-picture-o"></i> GALERIJA</h2>
	</div>

	<div class="product-content gray-block gallery nalepnice">
		<img src="./assets/nalepnice/n1.png">
		<img src="./assets/nalepnice/n2.png">
		<img src="./assets/nalepnice/n3.png">
		<img src="./assets/nalepnice/n4.jpg">
		<img src="./assets/nalepnice/n5.jpg">
		<img src="./assets/nalepnice/n6.jpg">
		<img src="./assets/nalepnice/n7.jpg">
		<img src="./assets/nalepnice/n13.jpg">
		<img src="./assets/nalepnice/n12.jpg">
		<img src="./assets/nalepnice/n8.jpg">
		<img src="./assets/nalepnice/n9.jpg">
		<img src="./assets/nalepnice/n11.jpg">
		<img src="./assets/nalepnice/n10.jpg">
		<img src="./assets/nalepnice/n20191.jpg">
		<img src="./assets/nalepnice/n20192.jpg">
		<img src="./assets/nalepnice/n20193.jpg">
	</div>

</div>
