<div class="product-window">
	<div class="window-header">
		<a class="back-button" routerLink="/proizvodi/svi-proizvodi"> <i class="fa fa-chevron-left"  ></i> NAZAD </a>
		<h2> <i class="fa fa-chevron-right"></i> KNJIGE</h2>
	</div>


	<div class="product-content white-block">
		<p>
			<span class="bold-red"> Knjige </span>se štampaju u formatu A5 (140 x 210 mm), B5 (170 x 240 mm), A4 (210 x 297 mm) ili
			drugim. Listovi su papir 80gr, štampa crna 1/1, korice mogu biti meke (kunsdruk 350gr, kolor štampa 4/0, plastifikacija
			sjaj ili mat) ili tvrde ( kunsdruk 150gr, kolor 4/0, lepenka 2 mm, plastifikacija sjaj ili mat, sa označnom trakom). Kada
			se rade knjige do osamdesetak strana, preporučuje se papir 90 gr. Dorada knjiga je lepljenjem sa leve strane, a kada knjige
			imaju veliki broj strana reda veličine preko 500 strana a i tvrdi povez moguće je da budu i šivene. Knjige mogu biti štampane
			i u koloru i na kvalitetnijim materijalima.
		</p>
	</div>

	<div class="product-content gray-block">
		<p><span class="bold-red"> Priprema za knjigu  </span> se radi u Wordu. Pre početka unosa teksta potrebno je podesiti neke
			parametre i poštovati neka pravila kako bi unešen tekst bio lako upotrebljiv. Ta pravila su:
		</p>
		<ul>
			<li>Uvek zauzeti A4 format (nikako legal ili letter...) (PAGE SETUP -> PAPER)</li>
			<li>
				Margine: <br> - za A5 (Top 2 cm, Left 5,5 cm, Bottom 10 cm, Right 5,5 cm) (PAGE SETUP -> MARGINS)
				<br> - za B5 (Top 2 cm, Left 4 cm, Bottom 7,7 cm, Right 4 cm)
				<br> - za A4 (Top 2,5 cm, Left 2,2 cm, Bottom 2,5 cm, Right 2,2 cm).
				<br> - Posebno obratiti pažnju da LEFT i RIGHT margina uvek MORAJU biti iste.
				<br> - Takođe zauzeti orijentaciju Portret i sve postaviti za ceo dokumenat (nikako ne koristiti sekcije).
			</li>
			<li>
				Podesiti dvostranu štampu (PAGE SETUP -> LAYOUT), štiklirati prekidač Different odd and even, Different first page, podesiti
				Header i Footer za udaljenje cifre za paginaciju, ovde voditi računa da on mora uvek biti manji za 5 - 7 mm u odnosu
				na Bottom marginu u zauzetom formatu (kako cifra ne bi ušla u tekst).
			</li>
			<li>
				Zatim podesiti paginaciju strane. Voditi naročito računa da je neparna desna strana a parna leva, ili kad god je to moguće
				staviti straničenje po sredini strane da bi se izbegla ova greška. Paginacija se obično stavlja na dnu strane u futeru,
				a na vrhu strane, u hederu, ime pisca, naslov knjige ili poglavlja. (INSERT -> PAGE NUMBER -> BOTTOM OF PAGE).
			</li>
			<li>
				Kada želite da deo teksta (obično poglavlje, nova pesma, nova priča...) uvek bude na početku strane, tada držite taster CTRL
				i pritisnite ENTER, nastavite sa kucanjem, tako će te, bez obzira na dodavani tekst ispred, postići da vam uvek taj deo
				teksta bude na početku strane.
			</li>
			<li>
				Pored ovoga voditi računa da se tasteri SPACE i ENTER nikada ne pritiskaju dva ili više puta kako bi se odgurao deo teksta
				na željeno mesto.... Takođe, nikada ne koristite crticu za prelom reči, to smete i morate činiti samo koristeći pritisnut
				taster CTRL i tada pritisnuti crticu (na taj način kada se ta reč pomeri unutra teksta crtica se gubi).
			</li>
		</ul>

	</div>
	<div class="product-content white-block">
		<p>
			Ovo su samo najbitnije stvari koje <span class="bold-red"> morate znati i postaviti</span> pre početka unosa teksta, kako
			bi vaš tekst bio upotrebljiv. Takođe, treba odabrati izgled slova, veličinu slova obično je 12px, tip slova normal, podebljano,
			iskošeno, ćirilica ili latinica, ravnanje teksta, razmak između pasusa, razmak između redova, uvučen prvi red i slično.
		</p>
	</div>
	<div class="product-content gray-block">
		<p>
			Ako ubacujete <span class="bold-red"> fotografije u tekst</span>, prethodno ih pretvorite u veličinu koja će biti u knjizi
			(a ne da je smanjujete pošto je ubacite u tekst) i pretvorite je u crno belu, ako treba da bude crno bela, pretvorite
			u 300 dpi i tek tada je importujte na željeno mesto. Takođe ako ubacujete dijagrame crtane u Korelu ili slično, crtajte
			ih u formatu koji treba da bude u knjizi, a ne da posle umanjivanjem ili uvećavanjem eventualni deo teksta bude premali
			ili preveliki, fontove pretvorite u krive i najbolje je napraviti Windows Metafile ili nešto drugo (probati) i onda ubaciti
			u tekst.
		</p>
	</div>
	<div class="product-content white-block">
		<p>
			Knjiga se za štampu predaje u <span class="bold-red"> PDF formatu</span>. Mada sačuvajte i verziju napravljenu u Wordu.
			Priprema za koricu se radi u Corel-u i važe prafila kao za katalog, samo ovde treba voditi računa, o debljini knjige,
			koja utiče na debljinu rikne.
		</p>
	</div>
	<div class="product-content gray-block">
		<p>
			Savet je da pre početka unosa teksta za knjigu <span class="bold-red"> konsultujete štampara</span>.
		</p>
	</div>
	<div class="product-content white-block">
		<p>
			NAPOMENA: Pri snimanju imena fajlova koje šaljete u štampu obavezno ime fajla pisati latičnim slovima, a ne ćiriličnim.
		</p>
	</div>

</div>

<div class="product-window">
	<div class="window-header">
		<h2> <i class="fa fa-picture-o"></i> GALERIJA</h2>
	</div>
	<div class="product-content white-block gallery knjige">
		<img src="./assets/knjige/1.jpg">
		<img src="./assets/knjige/2.jpg">
		<img src="./assets/knjige/3.jpg">
		<img src="./assets/knjige/4.jpg">
		<img src="./assets/knjige/5.jpg">
	</div>
</div>