<div class="product-window">
	<div class="window-header">
		<a class="back-button" routerLink="/proizvodi/svi-proizvodi"> <i class="fa fa-chevron-left"  ></i> NAZAD </a>
		<h2> <i class="fa fa-chevron-right"></i> REKLAMNE KESE</h2>
	</div>
	<div class="product-content white-block">
		<p> <span class="bold-red"> Reklamne kese </span> se izrađuju na kunsdruku 170 gr. Dimenzije 245 x 370 x 90 mm. Štampa kolor
			4/0, plastifikacija sjaj ili mat, ojačana hromo kartonom na pojedinim mestima, ručke kanap u željenoj boji. Kod izrade
			pripreme poželjno je zatražiti mrežu kese u rasklopljenom stanju, koja je prilagođena štancni za doradu kesu. Ostala pravila
			kao za <a routerLink="../flajeri" class="interlink">katalog</a>.
		</p>
	</div>

	<div class="product-content gray-block">
		<p>
			U ponudi imamo <span class="bold-red">PVC kese</span> dimenzija 25 x 35 cm, 30 x 40 cm, 40 x 50 cm. Mogu biti u teget
			boji, beloj, crvenoj i drugim. Debljina kese može biti 32 ili 60 mikrona. Obično se radi od 32 mikrona. Štampa se radi
			u jednoj boji.
		</p>
	</div>

	<div class="product-content white-block">
		<p>
			Takođe preporučujemo <span class="bold-red">biorazgradive kese</span> dimezija 32 x 41 cm i 25,5 x 30 cm. Takođe, mogu
			biti u raznim bojama, uštampane sito štampom u jednoj boji.
		</p>
	</div>
	<div class="product-content gray-block">
		<p>
			<span class="bold-red">Priprema</span> može biti rađena u bilo kom programu ali na kraju (pre slanja u štampu) mora biti
			pretvorena u CMYK (kako bi se postigle realne boje u štampi) i konvertovana u TIF sa rezolucijom 300 dpi (kako ne bi došlo
			do gubljenja korišćenih efekata, filtera, fontova i drugo). Takođe obratiti pažnju na to da crna, sitna slova (ispod 10
			dpi) budu urađena samo iz crne boje.
		</p>
	</div>


</div>

<div class="product-window">
	<div class="window-header">
		<h2> <i class="fa fa-picture-o"></i> GALERIJA</h2>
	</div>
	<div class="product-content white-block gallery kese">
			<span>
          <img src="./assets/kese/a1.jpg">
          <img src="./assets/kese/a2.jpg">
          <img src="./assets/kese/a3.jpg">
			</span>
			<span>
				<img src="./assets/kese/1.jpg">
				<img src="./assets/kese/2.jpg">
				<img src="./assets/kese/3.jpg">
				<img src="./assets/kese/4.jpg">
			</span>
	</div>
	<div style="clear:both"></div>

</div>
