<div class="product-window">
	<div class="window-header">
		<a class="back-button" routerLink="/proizvodi/svi-proizvodi"> <i class="fa fa-chevron-left"  ></i> NAZAD </a>
		<h2> <i class="fa fa-chevron-right"></i> UPALJAČI </h2>
	</div>
	<div class="product-content white-block">
		<p>
			<span class="bold-red">Elektronski upaljači </span> se rade u više boja i modela. Na njima može biti uštampan logotip vaše firme sa jedne ili obe strane.
			Uštampavanje se vrši sito štampom ili tamponom.
		</p>
	</div>
</div>

<div class="product-window">
	<div class="window-header">
		<h2> <i class="fa fa-picture-o"></i> GALERIJA</h2>
	</div>
	<div class="product-content white-block gallery upaljaci">
      <img src="./assets/upaljaci/1.jpg">
      <img src="./assets/upaljaci/2.jpg">
      <img src="./assets/upaljaci/3.jpg">
      <img src="./assets/upaljaci/4.jpg">
      <img src="./assets/upaljaci/5.jpg">
      <img src="./assets/upaljaci/6.jpg">
	</div>
</div>
