<div class="product card-deck">

	<div class="card link" routerLink="../vizit-karte">
		<div class="logo-header ">
			<h4 class="card-title">VIZIT KARTE</h4>
		</div>
		<div class="logo-holder vizitkarte">
			<div class="read-more">Detaljnije...</div>
		</div>
	</div>

	<div class="card link" routerLink="../flajeri">
		<div class="logo-header ">
			<h4 class="card-title"> FLAJERI I KATALOZI </h4>
		</div>
		<div class="logo-holder flajeri">
			<div class="read-more">Detaljnije...</div>
		</div>
	</div>

	<div class="card link" routerLink="../knjige">
		<div class="logo-header ">
			<h4 class="card-title">KNJIGE</h4>
		</div>
		<div class="logo-holder knjige">
			<div class="read-more">Detaljnije...</div>
		</div>
	</div>

	<div class="card link" routerLink="../kalendari">
		<div class="logo-header ">
			<h4 class="card-title">KALENDARI</h4>
		</div>
		<div class="logo-holder kalendari">
			<div class="read-more">Detaljnije...</div>
		</div>
	</div>


	<div class="card link" routerLink="../rokovnici">
		<div class="logo-header ">
			<h4 class="card-title"> ROKOVNICI </h4>
		</div>
		<div class="logo-holder rokovnici">
			<div class="read-more">Detaljnije...</div>
		</div>
	</div>
	
	<div class="card link" routerLink="../olovke">
		<div class="logo-header ">
			<h4 class="card-title"> OLOVKE </h4>
		</div>
		<div class="logo-holder olovke">
			<div class="read-more">Detaljnije...</div>
		</div>
	</div>

	<div class="card link" routerLink="../upaljaci">
		<div class="logo-header ">
			<h4 class="card-title"> UPALJAČI </h4>
		</div>
		<div class="logo-holder upaljaci">
			<div class="read-more">Detaljnije...</div>
		</div>
	</div>

	<div class="card link" routerLink="../reklamni-blokovi">
		<div class="logo-header ">
			<h4 class="card-title"> REKLAMNI BLOKOVI </h4>
		</div>
		<div class="logo-holder reklamni-blokovi">
			<div class="read-more">Detaljnije...</div>
		</div>
	</div>

	<div class="card link" routerLink="../kese">
		<div class="logo-header ">
			<h4 class="card-title"> REKLAMNE KESE </h4>
		</div>
		<div class="logo-holder kese">
			<div class="read-more">Detaljnije...</div>
		</div>
	</div>


	<div class="card link" routerLink="../fascikle">
		<div class="logo-header ">
			<h4 class="card-title"> FASCIKLE </h4>
		</div>
		<div class="logo-holder fascikle">
			<div class="read-more">Detaljnije...</div>
		</div>
	</div>

	<div class="card link" routerLink="../nalepnice">
		<div class="logo-header ">
			<h4 class="card-title"> NALEPNICE </h4>
		</div>
		<div class="logo-holder nalepnice">
			<div class="read-more">Detaljnije...</div>
		</div>
	</div>

	<div class="card link" routerLink="../blokovska-roba">
		<div class="logo-header ">
			<h4 class="card-title"> BLOKOVSKA ROBA </h4>
		</div>
		<div class="logo-holder blokovska-roba">
			<div class="read-more">Detaljnije...</div>
		</div>
	</div>
<!-- 		

	<div class="card link ">
		<a href="http://prodesignkg.rs" style="text-decoration:none">
			<div class="logo-header prodesign-card">
				<h4 class="card-title"> DIGITALNA ŠTAMPA </h4>
			</div>
			<div class="logo-holder prodesign">
				<div class="read-more">Idi na sajt...</div>
				<img src=".\assets\pd-logo.png">
			</div>
		</a>
	</div> -->

</div>
<!--  CARD DECK -->