<div class="page-content">

	<div class="page-background references">
		<h1>POSLOVNI PARTNERI</h1>
	</div>

	<div>
		<div>

			<div class="references-card card-deck">

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Čar Export-import</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/car.png"
								 alt="Čar">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Prodesign</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/prodesign.png"
								 alt="ProDesign">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Ekonomski fakultet Kragujevac</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/ekonomski.png"
								 alt="Ekonomski fakultet Kragujevac">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Fakultet inženjerskih nauka Kragujevac</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/fink.png"
								 alt="FIN Kragujevac">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Medicinski fakultet Kragujevac</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/medicinski.png"
								 alt="Medicinski fakultet Kragujevac">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Prirodno matematički fakultet Kragujevac</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/pmf.png"
								 alt="PMF Kragujevac">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Univerzitet u Kragujevcu</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/univerzitetKG.png"
								 alt="Univerzitet">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Gruža Agrar</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/gruza-agrar.png"
								 alt="Gruža agrar">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Agroplus</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/agroplus.png"
								 alt="Agroplus">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Šumadija KGM</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/sumadija.png">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Medrat</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/medrat.png">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Kraguj Vet</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/kragujvet.png">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Kotex</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/kotex.png">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Matex</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/matex.png">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">HardLim</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/hardlim.jpg">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">KG Kran</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/kgkran.jpg">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Audia Medical</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/audia.jpg">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">RačaKoop</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/racakoop.png">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Centar za stručno usavršavanje</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/csu.png">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Gold šped</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/goldsped.png">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Flores</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/flores.jpg">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Vin Higijena</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/vin_higijena.jpg">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Magy Trade</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/magy_trade.jpg">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Izgradnja R</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/izgradnja_r.jpg">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Mons apartmani Zlatibor</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/mons_zlatibor.jpg">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Gas KGVE</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/gas_kgve.jpg">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Aca Best</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/aca_best.jpg">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Butik Art Line</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/art_line.jpg">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">EkoGas</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/ekogas.jpg">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Mišić</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/misic.jpg">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Dankom</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/dankom.jpg">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Auto-škola Kart</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/auto_skola_kart.jpg">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Optika Sfera</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/optika_sfera.jpg">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">AutoLiga doo</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/autoliga.png">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Sena</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/sena.png">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Ekoluka key</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/ekolukakey.png">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Marmil tende</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/marmil.png">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Centar za mitološke studije Rača</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/centarraca.png">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Medico Marković</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/markovic.png">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Štamparija Zagorac</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/zagorac.png">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Apoteka Lek</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/lek.png">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">DNK Lab</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/dnklab.png">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Stan Servis</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/stanservis.png">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Žar mance</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/zarmance.png">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Itali Yu Car</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/italiyucar.png">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Index Tours</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/index.png">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Istorijski arhiv Šumadije</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/istorijski-arhiv.png">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Crveni krst
							<br> Kragujevac</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/apotekaKG.png">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Moto plus</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/motoplus.png">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Miroco</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/miroco.png">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Štamparija Aston</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/aston.png">
					</div>
				</div>


				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Kraljevi čardaci</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/kraljevicardaci.jpg">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Prvako</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/prvako.jpg">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Becchis Osiride</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/becchis.png">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Šumadija Samousluga Rača</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/sumadijaraca.png">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">EkoLak</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/ekolak.jpg">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Roto Play</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/rotoplay.png">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Lugano nameštaj</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/lugano.png">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Promo</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/promo.png">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Kronospan</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/kronospan.png">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Avis</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/avis.png">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Zastava Istrabenz Lizing</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/istrabenz.png">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Tritonex</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/tritonex.jpg">
					</div>
				</div>

				<div class="card">
					<div class="logo-header">
						<h4 class="card-title">Yugocommerce</h4>
					</div>
					<div class="logo-holder">
						<img class="card-img-top"
								 src="./assets/reference/yugocommerce.jpg">
					</div>
				</div>




			</div>
			<!--  CARD DECK -->

		</div>
		<!--  ROW -->
	</div>
	<!--  CONTAINER -->
</div>


<app-footer></app-footer>
